<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">  
  <interactiveMode>false</interactiveMode>  
  <mirrors>
    <mirror>
    <id>aliyunmaven</id>
    <mirrorOf>central</mirrorOf>
    <name>aliyun maven</name>
    <url>https://maven.aliyun.com/repository/public </url>
    </mirror>
  </mirrors>
  <activeProfiles>
    <activeProfile>public</activeProfile>
  </activeProfiles>
	<proxies>
		<proxy>
			<id>ws-proxy</id>
			<active>true</active>
			<protocol>http</protocol>
			<host>127.0.0.1</host>
			<port>8887</port>
		    <nonProxyHosts>*.maven.apache.org|*.npmjs.org|*.npm.sap.com|nodejs.org</nonProxyHosts>
		</proxy>
	</proxies>
</settings>
